{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous ?{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold mb-6">Qui sommes-nous ?</h1>
    <p class="mb-4">EfreiTech a été créé par <strong>Mael Barbe</strong>, étudiant à l'EFREI Paris. dans le cadre d'un projet en Composer et Maker</p>
    <p class="mb-4">Notre mission : proposer du matériel informatique de qualité à des prix compétitifs. YESSS</p>
    <p>Contact : mael.barbe@efrei.net</p>
{% endblock %}