{% extends 'base.html.twig' %}

{% block title %}CGV{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold mb-6">Conditions Générales de Vente</h1>
    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
{% endblock %}