{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold mb-6">Politique de confidentialité</h1>
    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
{% endblock %}